

<script src= "activity_autocomplete.js"></script>


<form>
  <div class="well well-lg">
  <input type="text" id="do-not-want" autocomplete="on">
</div>
<button type="button" id="dnw-button" class="btn btn-default btn-lg btn-block">Go!</button>
</form>
