<form>
<body>
    <div id="page-wrap">
        <div class="form-group">
          <br>
            <label class="control-label" for="inputDefault"> </label>
          <input type="text" class="form-control" id="do-not-want">
        </div>
        <button type="button" id="dnw-button" class="btn btn-default btn-lg btn-block">Go!</button>
        </form>
  </div>
</body>
